---
const today = new Date();
---

<footer class="text-zinc-500 p-4 text-center">
    &copy; {today.getFullYear()} <a href="https://www.github.com/xavier-castro">Xavier Castro</a> All rights reserved.
</footer>
