---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Navbar from '../components/Navbar'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Navbar />
    <main class="pt-[60px]">
      <h1 class="font-mplus text-center text-3xl">Welcome!</h1>
      <Content>
        <section>
          <p class="mb-8 indent-4">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
