---
import BaseHead from '../components/Core/BaseHead.astro'
import Body from '../components/Core/Body.astro'
import Content from '../components/Core/Content.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
  </head>

  <Content>
    <h1>Woohoo</h1>
    <Body />
  </Content>
</html>
