---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'
import { IoLogoGithub } from 'react-icons/io5/index.js'
import { BsVectorPen, BsPersonCircle } from 'react-icons/bs/index.js'
import { CgToolbox } from 'react-icons/cg/index.js'
import ThemeToggle from './ThemeToggleButton'
---

<header class="fixed w-full z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base px-2">
      <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
        <a href="/">{SITE_TITLE}</a>
      </h2>
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href="https://www.github.com/xavier-castro" target="_blank"
          ><IoLogoGithub /> GitHub</HeaderLink
        >
        <HeaderLink href="/about"><BsPersonCircle />About</HeaderLink>
        <HeaderLink href="/blog"><BsVectorPen />Blog</HeaderLink>
        <HeaderLink href="/techstack"><CgToolbox />Tech Stack</HeaderLink>
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:load />
    </nav>
  </div>
</header>
