<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden bg-indigo-400">
    <video autoplay loop muted class="w-full h-full object-cover"
      ><source src="/clear_water.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="z-10 text-center px-8 my-16 mx-4 py-8 items-center">
    <div
      class="text-3xl font-mplus font-medium flex-nowrap overflow-hidden bg-slate-200 dark:bg-neutral rounded-lg p-8"
    >
      <div class="flex justify-center items-center flex-col">
        <div>Profile Picture here</div>
        <div>A curated list of the tech I use</div>
      </div>
    </div>
  </div>
</section>
