<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden bg-indigo-400">
    <video autoplay loop 
      ><source
        src="/clear_water.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="z-10 text-center px-8 my-16 mx-4 py-8 items-center">
    <div class="text-3xl font-mplus font-medium flex-nowrap overflow-hidden">
      A curated list of the tech I <span class="text-orange-500">use</span>
    </div>
  </div>
</section>
